In [1]:
import pandas as pd

In [2]:
age = pd.read_csv('../final_data/age_demos (1).csv')
commute = pd.read_csv('../final_data/commute_demos.csv')
education = pd.read_csv('../final_data/education_demos (1).csv')
income = pd.read_csv('../final_data/income_demos.csv')
internet = pd.read_csv('../final_data/internet_demos.csv')
race = pd.read_csv('../final_data/race_demos (1).csv')

In [45]:
age.head(1)

,geoid,qualifying name,geometry,total population,Percent: under 5 years,Percent: 5 to 9 years,Percent: 10 to 14 years,Percent: 15 to 19 years,Percent: 20 to 24 years,Percent: 25 to 29 years,...,Percent: 40 to 44 years,Percent: 45 to 49 years,Percent: 50 to 54 years,Percent: 55 to 59 years,Percent: 60 to 64 years,Percent: 65 to 69 years,Percent: 70 to 74 years,Percent: 75 to 79 years,Percent: 80 to 84 years,Percent: 85 years and over
0,17031823303,"Census Tract 8233.03, Cook County, Illinois","POLYGON ((-87.720963 41.683952, -87.720304 41....",4059,0.047056,0.099039,0.075634,0.05223,0.040404,0.069475,...,0.066519,0.042375,0.069229,0.091648,0.054693,0.044346,0.01355,0.036709,0.013304,0.013304

In [40]:
commute.head(1)

,geoid,qualifying name,geometry,average commute to work (in min),occupied housing units,Percent Owner and Renter Occupied Housing: No Vehicles,Percent Owner and Renter Occupied Housing: 1 Vehicle,Percent Owner and Renter Occupied Housing: 2 Vehicles,Percent Owner and Renter Occupied Housing: 3 Vehicles,Percent Owner and Renter Occupied Housing: 4 Vehicles,...,Percent Renter-Occupied Housing: 5 or More Vehicles,workers 16 years and over,"Percent Workers 16+: Car, Truck, or Van",Percent Workers 16+: Drove Alone,Percent Workers 16+: Carpooled,Percent Workers 16+: Public Transportation (Includes Taxi),Percent Workers 16+: Motorcycle,Percent Workers 16+: Bicycle,Percent Workers 16+: Walked,Percent Workers 16+: Other Means
0,17031823303,"Census Tract 8233.03, Cook County, Illinois","POLYGON ((-87.720963 41.683952, -87.720304 41....",33.0,1617,0.053185,0.332096,0.454545,0.119357,0.040816,...,0.0,2224,0.860612,0.744155,0.116457,0.047662,0.0,0.0,0.031025,0.008094

In [46]:
education.head(1)

,geoid,qualifying name,population 25 years and over,Percent: 25+ Less Than High School,Percent: 25+ High School or More,Percent: 25+ Some College or More,Percent: 25+ Bachelor's Degree or More,Percent: 25+ Master's Degree or More,Percent: 25+ Professional School Degree or More,Percent: 25+ Doctorate Degree,Percent Overlap
0,17031823303,"Census Tract 8233.03, Cook County, Illinois",2783,0.079051,0.920949,0.557312,0.210564,0.072224,0.0,0.0,0.1

In [81]:
first_merge = age.merge(commute,on='geoid') 
first_merge = first_merge.drop(columns=['qualifying name_y', 'geometry_y'], axis=1)
first_merge.rename(columns={'qualifying name_x': 'qualifying name', 'geometry_x': 'geometry'}, inplace=True)
first_merge

second_merge = first_merge.merge(education,on='geoid') #.merge(internet,on='geoid').merge(race,on='geoid')
second_merge = second_merge.drop(columns=['qualifying name_y'], axis=1)
second_merge.rename(columns={'qualifying name_x': 'qualifying name'}, inplace=True)
second_merge

third_merge = second_merge.merge(income, on='geoid')
third_merge = third_merge.drop(columns=['qualifying name_y', 'geometry_y'], axis=1)
third_merge.rename(columns={'qualifying name_x': 'qualifying name', 'geometry_x': 'geometry'}, inplace=True)
third_merge

fourth_merge = third_merge.merge(internet, on='geoid')
fourth_merge = fourth_merge.drop(columns=['qualifying name_y', 'geometry_y'], axis=1)
fourth_merge.rename(columns={'qualifying name_x': 'qualifying name', 'geometry_x': 'geometry'}, inplace=True)
fourth_merge

final_merge = fourth_merge.merge(race,on='geoid')
final_merge = final_merge.drop(columns=['qualifying name_y', 'geometry_y'], axis=1)
final_merge.rename(columns={'qualifying name_x': 'qualifying name', 'geometry_x': 'geometry'}, inplace=True)
final_merge.head(1)

#df.rename(columns={"firstname": "FIRSTNAME", "lastname": "LASTNAME"}, inplace=True)
#check_values = first_merge['qualifying name_x'] == first_merge['qualifying name_y']
#check_values

,geoid,qualifying name,geometry,total population,Percent: under 5 years,Percent: 5 to 9 years,Percent: 10 to 14 years,Percent: 15 to 19 years,Percent: 20 to 24 years,Percent: 25 to 29 years,...,Percent of People with Computers,Percent of People without Computers,Percent of People with Computers and Internet,Percent: White Alone,Percent: Black or African American Alone,Percent: American Indian and Alaska Native Alone,Percent: Asian Alone,Percent: Native Hawaiian and Other Pacific Islander Alone,Percent: Some Other Race Alone,Percent: Two or More Races
0,17031823303,"Census Tract 8233.03, Cook County, Illinois","POLYGON ((-87.720963 41.683952, -87.720304 41....",4059,0.047056,0.099039,0.075634,0.05223,0.040404,0.069475,...,0.912801,0.087199,0.806432,0.795763,0.078098,0.009855,0.0,0.0,0.072924,0.04336

In [84]:
census_demos = final_merge.copy(deep=True)
census_demos.set_index('geoid',inplace=True)

In [85]:
census_demos.to_csv('../../data/final_data/census_demos.csv')